.game-table{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    padding: 2.5em;
}

h2{
    margin: 0;
    margin-left: 2.5rem;

}

@media (max-width: 850px) {
    .game-table{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }
}

@media (max-width: 400px) {
    .game-table{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: .8em;
        row-gap: .4em;
    }
    h2{
        
        /* align-items: center;
        align-self: center;
        align-content: center; */
        text-align: center;

    }
}
