
.image-container{
    padding: .5rem;
}


.image-container img{
    width: 100%;
}
.game-card{
    border: 2px solid rgb(172, 172, 172);
    border-radius: .5rem;

}

.game-card:hover{
    cursor: pointer;
}


.game-card:hover{
    border: 2px solid orangered;
}