
h1{
    margin-left: 3%;
}

.background{
    /* background: url('./assets/background.jpg') no-repeat center center fixed; */
    
    /* background-color: aqua; */
}

footer {
    font-weight: 500;
    margin-top: 5%;
    padding: 2em;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1250px) {
    h1{
        text-align: center;
    }
    footer{
        position: fixed;
    }

}
